# Enable modern C++ features.
build --cxxopt=-std=c++17
build --conlyopt=-std=gnu11

# Weird linker behavior, must manually specify :/
build --linkopt=-fuse-ld=gold

# Tests are usually written for the host platform, just simpler to deal with.
test --platforms=@local_config_platform//:host
test --test_sharding_strategy=explicit
test --test_verbose_timeout_warnings
test --test_output=errors
test --sandbox_default_allow_network=false
test --config=asan

# ASAN
build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address

# Skip ASAN for stuff that doesn't work with it. E.G. the kernel.
# as it requires special treatment.
build:asan --build_tag_filters=^no_asan

# User-specific .bazelrc
try-import %workspace%/user.bazelrc

